body{
    background-color: rgb(102, 102, 248);
}
header{
    width: 100%;
}
img{
    width: 50px;
    height: 50px;
    margin-top: 0;
    margin-left: 0;
}

a{
    align-items: center;
   border: 1px solid rgb(253, 250, 250);
    padding: 10px;
    background-color:brown;
    color: white;
    position: relative;
    left: 500px;
    list-style: none;
}

h1{
    color: white;
    background-color: brown;
    text-align: center;
    margin-top: 100px;
}
table{
    margin-top: 10px;
    border-style: 100%;
}
table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    border-radius: 10px;
}
th, td {
    background-color: #96D4D4;
  }

p{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    background-color: brown;
    margin-top: 300px;
    padding: 20px;
}